{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
  ],
  "rules": {
    "indent": ["error", 4],
    "comma-dangle": 0,
    "max-len": [2, 100, 2, {
      "ignoreUrls": true,
      "ignoreComments": true
    }]
  },
  "parser": "babel-eslint"
}
